*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    text-decoration:none;
 }
 
 body{
     background: #1790d4;
     color: #555555;
 }
 
 .wrapper{
     width: 250px;
     height: 680px;
     background: #fff;
     margin: 20px auto 0;
     border-radius: 5px;
     box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.25);
 }

 .wrapper .navbar{
     position: relative;
 }

 .wrapper .navbar .profile_menu{
    padding: 25px;
    text-align: center;
 }
 
 .profile_pic img{
     border-radius: 50%;
 }

 .wrapper .navbar .profile_menu .profile_info .name{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1790d4
 } 

 .wrapper .navbar .profile_menu .profile_info .role{
    font-size: 15px;
    font-weight: 400;
    padding-top: 8px;
 } 

 .wrapper .navbar .menu{
     padding: 0px 25px 25px 25px;
     height: 370px;
 }

 .wrapper .navbar .menu li > a{
     display: block;
     padding: 10px;
     position: relative;
     font-size: 16px;
     color: #555555;
 }

 .wrapper .navbar .menu li > a:hover{
    color: #1790d4;
    background: #e1f4ff
 }

 .wrapper .navbar .menu li.active > a{
    color: #1790d4;
 }

 .wrapper .navbar .menu li > a span{
    display: inline-block; 
}

.wrapper .navbar .menu .icon{
   margin-right: 10px;
}

.wrapper .navbar .menu li > a span.arrow{
    position: absolute;
    top:30%;
    transform: translate(-50%);
    right: 15px;
    transition: all 0.3s ease;
}

.wrapper .navbar .menu li.active a span.arrow{
    transform: rotate(180deg); 
    right: 20px; 
 }

.wrapper .navbar .menu .accordion_menu{
    transition: all 0.3s ease;
    height: 0;
    overflow: hidden;
}

.wrapper .navbar .menu .accordion_menu li a{
    height: auto;
    padding: 10px;
   position: relative;
   font-size: 14px;
   color: #555555;
   padding-left:45px;
}

.wrapper .navbar .menu .accordion_menu li a:hover{
   color: #1790d4;
   background: #e1f4ff
}

.wrapper .navbar .menu .accordion_menu li a:before{
    content: "";
    position: absolute;
    top: 12px;
    left: 25px;
    width: 8px;
    height: 8px;  
    background: #8c9ba7;
    border-radius: 50%;
}

.wrapper .navbar .menu .accordion_menu li a:hover:before{
    background: #1790d4;
 }

 .wrapper .navbar .menu li.active .accordion_menu{
     height: 125px;
 }

 .wrapper .navbar .logout{
    margin: 25px;
    width: 200px;
    background: #1790d4;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
 }

 .wrapper .navbar .logout:hover{
    background: #41bbff;
 }